<?xml version="1.0"?>

<launch>

  <!-- Order is important! -->
  <arg name="controllers" default="
    controller/position
    controller/velocity
    controller/attitude
    "/>

  <rosparam ns="controller" file="$(find bebop_gazebo)/params/controller.yaml" />
  <rosparam file="$(find bebop_gazebo)/params/controller_params.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
    $(arg controllers) --shutdown-timeout 3"/>

  <node name="estop_relay" pkg="topic_tools" type="relay" args="/estop estop">
    <param name="lazy" value="true" />
  </node>

</launch>
